[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
hydra = "HmHxoZHi5GN3187RoXPDAXcjY5j1ghTdXn54u9pVzrvp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./deploy-keypair.json"

[scripts]
test = "bun test"
